.photo-wrapper .photo-item img {
  transition: all 0.6s ease-in-out;
  padding: 8px;
  border-radius: 20px;
  max-width: -webkit-fill-available;
}
.photo-wrapper img:hover {
  transform: scale(1.03);
}
.photo-wrapper {
  margin: 20px auto;
  /* width: 50vh; */
  /* color: var(--sec-text-color); */
  /* background-color: var(--card-bg-color); */
  /* opacity: .7; */
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
.miaoshus,
.miaoshus .title {
  font-family: MV Boli;
}
.miaoshus {
  padding: 20px;
  border: 1px dashed var(--link-hover-color);
  color: var(--text-color);
  position: relative;
  display: inline-block;
  width: 75%;
  background-color: var(--toc-activ-bg-color);
  border-radius: 10px;
  font-size: 22px;
  margin: 24px auto 12px;

}
body {
  overflow: visible!important;
}
.photo-wrapper {
  position: relative;
  text-align: center;
}
.photo-wrapper img {
  border-radius: 10px;
}
.page-footer {
  display: none
}
body {
  overflow-y: visible!important;
}
header {
  background-image: linear-gradient(to right, var(--bg-color-linear-left) 0, var(--bg-color-linear-right) 100%);
  opacity: .8;
}
.biaotiss {
      font-family: MV Boli;
  }
@media only screen and (max-width: 1058px) {
  /* .photo-wrapper {
      margin-left: 145px;
  } */
}
@media only screen and (max-width: 770px) {
  /* .photo-wrapper {
      margin-left: 15px;
  } */
}
@media only screen and (max-width: 500px) {
  #previous-button, #next-button {
      display: none;
  }
}
@media only screen and (max-width: 380px) {
  /* .photo-wrapper {
      margin-left: -5px;
  } */
}
@media only screen and (max-width: 323px) {
  .photo-wrapper img {
      width: 296px;
      left: 0;
  }
}


.justified-gallery > a > .jg-caption, .justified-gallery > div > .jg-caption, .justified-gallery > figure > .jg-caption {
  display: none !important;
}

/* 相册加密 */

/* 密码输入框 */
#hbe-security {
  text-align: center; /* 让密码输入框和按钮居中显示 */
}

.hbe-input-container {
  background-color: var(--toc-activ-bg-color);
  width: 50%;
  border-radius: 9px;
  margin: 20px auto; /* 上下居中 */
}

.hbe-input-container input[type=password] {
  width: calc(100% - 20px); /* 考虑到边框宽度 */
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  padding: 0 10px;
  border: 1px solid var(--text-color);
  border-radius: 9px;
  margin: 10px;
  box-sizing: border-box; /* 让输入框的宽度包括边框 */
}

/* 解密按钮 */
.hbe-input-container .btn-decrypt {
  display: inline-block;
  width: calc(75% - 20px); /* 25%的宽度减去输入框的padding和边框宽度 */
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--blue);
  border: 1px solid var(--blue);
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s, color 0.3s;
}

/* 悬停时的样式 */
.hbe-input-container .btn-decrypt:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.hbe-input-container input[type=password]::placeholder {
  color: var(--text-color); /* 输入框中星号的默认颜色 */
}

.hbe-input-container input[type=password] {
  color: blue; /* 将文本颜色设置为蓝色 */
  caret-color: red; /* 将光标颜色设置为红色 */
}
