.carousel-control {
    width: 45px;
    height: 45px;
    line-height: 55px;
    border-radius: 45px;
    background: transparent;
    cursor: pointer;
    z-index: 100;
}
/* 采用了蒙版 这里基本就固定颜色 */
.carousel a, .carousel a:hover {
    color: var(--navbar-text-color);
}
#prev-cover {
    position: absolute;
    top: 48%;
    left: 8px;
}

#next-cover {
    position: absolute;
    top: 48%;
    right: 8px;;
}

#prev-cover i {
    margin-right: 3px;
}

#next-cover i {
    margin-left: 3px;
}

.carousel-control:hover {
    background-color: rgba(0, 0, 0, .4);
}

.carousel-control i {
    color: var(--navbar-text-color);
    font-size: 2.4rem;
}

.cover-social-link {
    position: relative;
    top: 23vh;
    width: 100%;
    text-align: center;
}

.cover-social-link a {
    padding: 10px 10px;
    /* height: 15px; */
    font-size: 1.35rem;
    color: var(--navbar-text-color);
    background: transparent;
    box-shadow: none;
}

.carousel-post .cover-btns a {
    margin-top:0
}

.cover-btns {
    position: relative;
    top: 10vh;
    text-align: center;
}

.cover-btns a {
    margin: 10px 15px;
    padding: 0 35px;
    height: 45px;
    line-height: 45px;
    font-size: 1rem;
    color: var(--navbar-text-color);
    border: 1px solid var(--navbar-text-color);
    background-color: transparent;
    border-radius: 30px;
    box-shadow: none;
}

.cover-btns a:hover {
    border: 1px solid var(--link-red-hover-color);
    background-color: var(--link-red-hover-color);
    box-shadow: 0 14px 26px -12px rgba(233, 30, 99, 0.42),
    0 4px 23px 0 rgba(0, 0, 0, 0.12),
    0 8px 10px -5px rgba(233, 30, 99, 0.2);
}

.cover-btns a i {
    font-size: 1.1rem;
    padding-right: 5px;
}
