@font-face {
    font-family:Lato;
    font-style:italic;
    font-weight:300;
    font-display:swap;
    src:local('Lato Light Italic'), local('Lato-LightItalic'), url(fonts/S6u_w4BMUTPHjxsI9w2_FQftx9897sxZ.woff2), url(https://fonts.gstatic.com/s/lato/v16/S6u_w4BMUTPHjxsI9w2_FQftx9897sxZ.woff2) format('woff2');
    unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}
@font-face {
    font-family:Lato;
    font-style:italic;
    font-weight:300;
    font-display:swap;
    src:local('Lato Light Italic'), local('Lato-LightItalic'), url(fonts/S6u_w4BMUTPHjxsI9w2_Gwftx9897g.woff2), url(https://fonts.gstatic.com/s/lato/v16/S6u_w4BMUTPHjxsI9w2_Gwftx9897g.woff2) format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}
@font-face {
    font-family:Lato;
    font-style:italic;
    font-weight:400;
    font-display:swap;
    src:local('Lato Italic'), local('Lato-Italic'), url(fonts/S6u8w4BMUTPHjxsAUi-qNiXg7eU0.woff2), url(https://fonts.gstatic.com/s/lato/v16/S6u8w4BMUTPHjxsAUi-qNiXg7eU0.woff2) format('woff2');
    unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}
@font-face {
    font-family:Lato;
    font-style:italic;
    font-weight:400;
    font-display:swap;
    src:local('Lato Italic'), local('Lato-Italic'), url(fonts/S6u8w4BMUTPHjxsAXC-qNiXg7Q.woff2), url(https://fonts.gstatic.com/s/lato/v16/S6u8w4BMUTPHjxsAXC-qNiXg7Q.woff2) format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}
@font-face {
    font-family:Lato;
    font-style:italic;
    font-weight:700;
    font-display:swap;
    src:local('Lato Bold Italic'), local('Lato-BoldItalic'), url(fonts/S6u_w4BMUTPHjxsI5wq_FQftx9897sxZ.woff2), url(https://fonts.gstatic.com/s/lato/v16/S6u_w4BMUTPHjxsI5wq_FQftx9897sxZ.woff2) format('woff2');
    unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}
@font-face {
    font-family:Lato;
    font-style:italic;
    font-weight:700;
    font-display:swap;
    src:local('Lato Bold Italic'), local('Lato-BoldItalic'), url(fonts/S6u_w4BMUTPHjxsI5wq_Gwftx9897g.woff2), url(https://fonts.gstatic.com/s/lato/v16/S6u_w4BMUTPHjxsI5wq_Gwftx9897g.woff2) format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}
@font-face {
    font-family:Monda;
    font-style:normal;
    font-weight:700;
    font-display:swap;
    src:local('Monda Bold'), local('Monda-Bold'), url(fonts/TK3gWkYFABsmjsLaGw8KneptKZ2s7zg.woff2), url(https://fonts.gstatic.com/s/monda/v9/TK3gWkYFABsmjsLaGw8KneptKZ2s7zg.woff2) format('woff2');
    unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}
@font-face {
    font-family:Monda;
    font-style:normal;
    font-weight:700;
    font-display:swap;
    src:local('Monda Bold'), local('Monda-Bold'), url(fonts/TK3gWkYFABsmjsLaGw8EneptKZ2s.woff2), url(https://fonts.gstatic.com/s/monda/v9/TK3gWkYFABsmjsLaGw8EneptKZ2s.woff2) format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}
@font-face {
    font-family:'Cascadia Code';
    src:local('Cascadia Code Regular'), url(fonts/cascadia-webfont.eot);
    src:local('Cascadia Code Regular'), url(fonts/cascadia-webfont.eot?#iefix) format('embedded-opentype'), url(fonts/cascadia-webfont.woff2) format('woff2'), url(fonts/cascadia-webfont.woff) format('woff'), url(fonts/cascadia-webfont.ttf) format('truetype'), url(fonts/cascadia-webfont.svg#open_sansregular) format('svg');
    font-weight:400;
    font-style:normal
}
html {
    overflow-y:scroll;
    font-family:Lato, "PingFang SC", "Microsoft YaHei", sans-serif
}
:root {
    overflow-y:auto;
    overflow-x:hidden
}
:root body {
    position:absolute
}
body {
    width:100vw;
    overflow:hidden;
    background-color:#f5f7f9
}
#artDetail .card {
    box-shadow:0 15px 8px rgba(50, 50, 93, .1), 0 5px 8px rgba(0, 0, 0, .07)!important
}
.bg-cover .title, .card-title, h1, h2, h3, h4, h5, h6 {
    font-family:Monda, Lato, "PingFang SC", "Microsoft YaHei", sans-serif;
    font-weight:400
}
h2 {
    font-weight:500
}
code {
    font-family:'Cascadia Code', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace
}
.github-emoji {
    height:2em;
    width:2em;
    display:inline-block!important;
    position:relative;
    margin:0 3px!important;
    padding:0
}
.github-emoji:hover {
    animation:emoji-face 5s infinite ease-in-out
}
@keyframes emoji-face {
    2% {
        transform:translate(0, 1.5px) rotate(1.5deg)
    }
    4% {
        transform:translate(0, -1.5px) rotate(-.5deg)
    }
    6% {
        transform:translate(0, 1.5px) rotate(-1.5deg)
    }
    8% {
        transform:translate(0, -1.5px) rotate(-1.5deg)
    }
    10% {
        transform:translate(0, 2.5px) rotate(1.5deg)
    }
    12% {
        transform:translate(0, -.5px) rotate(1.5deg)
    }
    14% {
        transform:translate(0, -1.5px) rotate(1.5deg)
    }
    16% {
        transform:translate(0, -.5px) rotate(-1.5deg)
    }
    18% {
        transform:translate(0, .5px) rotate(-1.5deg)
    }
    20% {
        transform:translate(0, -1.5px) rotate(2.5deg)
    }
    22% {
        transform:translate(0, .5px) rotate(-1.5deg)
    }
    24% {
        transform:translate(0, 1.5px) rotate(1.5deg)
    }
    26% {
        transform:translate(0, .5px) rotate(.5deg)
    }
    28% {
        transform:translate(0, .5px) rotate(1.5deg)
    }
}
@-webkit-keyframes rainbow {
    0%, 100% {
        background:rgba(75, 0, 130, .75);
        background:linear-gradient(45deg, rgba(75, 0, 130, .75) 0, rgba(75, 0, 130, .65) 100%);
        background:-moz-linear-gradient(135deg, rgba(75, 0, 130, .75) 0, rgba(75, 0, 130, .65) 100%);
        background:-webkit-linear-gradient(135deg, rgba(75, 0, 130, .75) 0, rgba(75, 0, 130, .65) 100%)
    }
    16% {
        background:rgba(132, 13, 121, .75);
        background:linear-gradient(45deg, rgba(132, 13, 121, .75) 0, rgba(132, 13, 121, .65) 100%);
        background:-moz-linear-gradient(135deg, rgba(132, 13, 121, .75) 0, rgba(132, 13, 121, .65) 100%);
        background:-webkit-linear-gradient(135deg, rgba(132, 13, 121, .75) 0, rgba(132, 13, 121, .65) 100%)
    }
    32% {
        background:rgba(94, 11, 247, .75);
        background:linear-gradient(45deg, rgba(94, 11, 247, .75) 0, rgba(94, 11, 247, .65) 100%);
        background:-moz-linear-gradient(135deg, rgba(94, 11, 247, .75) 0, rgba(94, 11, 247, .65) 100%);
        background:-webkit-linear-gradient(135deg, rgba(94, 11, 247, .75) 0, rgba(94, 11, 247, .65) 100%)
    }
    48% {
        background:rgba(25, 25, 112, .75);
        background:linear-gradient(45deg, rgba(25, 25, 112, .75) 0, rgba(25, 25, 112, .65) 100%);
        background:-moz-linear-gradient(135deg, rgba(25, 25, 112, .75) 0, rgba(25, 25, 112, .65) 100%);
        background:-webkit-linear-gradient(135deg, rgba(25, 25, 112, .75) 0, rgba(25, 25, 112, .65) 100%)
    }
    64% {
        background:rgba(0, 100, 0, .75);
        background:linear-gradient(45deg, rgba(0, 100, 0, .75) 0, rgba(0, 100, 0, .65) 100%);
        background:-moz-linear-gradient(135deg, rgba(0, 100, 0, .75) 0, rgba(255, 112, 66, .65) 100%);
        background:-webkit-linear-gradient(135deg, rgba(0, 100, 0, .75) 0, rgba(0, 100, 0, .65) 100%)
    }
    80% {
        background:rgba(233, 30, 99, .75);
        background:linear-gradient(45deg, rgba(233, 30, 99, .75) 0, rgba(233, 30, 99, .65) 100%);
        background:-moz-linear-gradient(135deg, rgba(233, 30, 99, .75) 0, rgba(233, 30, 99, .65) 100%);
        background:-webkit-linear-gradient(135deg, rgba(2233, 30, 99, .75) 0, rgba(233, 30, 99, .65) 100%)
    }
}
@keyframes rainbow {
    0%, 100% {
        background:rgba(75, 0, 130, .75);
        background:linear-gradient(45deg, rgba(75, 0, 130, .75) 0, rgba(75, 0, 130, .65) 100%);
        background:-moz-linear-gradient(135deg, rgba(75, 0, 130, .75) 0, rgba(75, 0, 130, .65) 100%);
        background:-webkit-linear-gradient(135deg, rgba(75, 0, 130, .75) 0, rgba(75, 0, 130, .65) 100%)
    }
    16% {
        background:rgba(132, 13, 121, .75);
        background:linear-gradient(45deg, rgba(132, 13, 121, .75) 0, rgba(132, 13, 121, .65) 100%);
        background:-moz-linear-gradient(135deg, rgba(132, 13, 121, .75) 0, rgba(132, 13, 121, .65) 100%);
        background:-webkit-linear-gradient(135deg, rgba(132, 13, 121, .75) 0, rgba(132, 13, 121, .65) 100%)
    }
    32% {
        background:rgba(94, 11, 247, .75);
        background:linear-gradient(45deg, rgba(94, 11, 247, .75) 0, rgba(94, 11, 247, .65) 100%);
        background:-moz-linear-gradient(135deg, rgba(94, 11, 247, .75) 0, rgba(94, 11, 247, .65) 100%);
        background:-webkit-linear-gradient(135deg, rgba(94, 11, 247, .75) 0, rgba(94, 11, 247, .65) 100%)
    }
    48% {
        background:rgba(25, 25, 112, .75);
        background:linear-gradient(45deg, rgba(25, 25, 112, .75) 0, rgba(25, 25, 112, .65) 100%);
        background:-moz-linear-gradient(135deg, rgba(25, 25, 112, .75) 0, rgba(25, 25, 112, .65) 100%);
        background:-webkit-linear-gradient(135deg, rgba(25, 25, 112, .75) 0, rgba(25, 25, 112, .65) 100%)
    }
    64% {
        background:rgba(0, 100, 0, .75);
        background:linear-gradient(45deg, rgba(0, 100, 0, .75) 0, rgba(0, 100, 0, .65) 100%);
        background:-moz-linear-gradient(135deg, rgba(0, 100, 0, .75) 0, rgba(255, 112, 66, .65) 100%);
        background:-webkit-linear-gradient(135deg, rgba(0, 100, 0, .75) 0, rgba(0, 100, 0, .65) 100%)
    }
    80% {
        background:rgba(233, 30, 99, .75);
        background:linear-gradient(45deg, rgba(233, 30, 99, .75) 0, rgba(233, 30, 99, .65) 100%);
        background:-moz-linear-gradient(135deg, rgba(233, 30, 99, .75) 0, rgba(233, 30, 99, .65) 100%);
        background:-webkit-linear-gradient(135deg, rgba(2233, 30, 99, .75) 0, rgba(233, 30, 99, .65) 100%)
    }
}
.recommend .post-card .post-title {
    line-height:1.5;
    height:60px
}
#aboutme .introduction {
    margin:1.1rem auto 1rem;
    max-width:700px;
    text-align:left;
    line-height:1.2rem;
    font-size:1.5rem
}
#aboutme .introduction1 {
    margin:1rem auto 1rem;
    max-width:700px;
    text-align:left;
    line-height:1.2rem;
    color:#999;
    font-size:1.1rem
}
footer .social-statis {
    margin-top:0
}
.cover-social-link {
    top:14vh
}
.bg-color {
    background-image:linear-gradient(to right, #2eab9f 0, violet 100%);
    opacity:.8
}
span.bg-color {
    background-image:linear-gradient(to right, #2eab9f 0, violet 100%)
}
header .brand-logo .logo-span {
    font-size:1.8rem
}
.bg-cover .title {
    font-size:2.5em;
    margin-bottom:2rem!important
}
.post-cover {
    height:40vh!important;
    min-height:300px
}
.carousel-post .cover-btns a {
    margin-top:0
}
.dream {
    margin-top:10px;
    margin-bottom:10px
}
header .nav-transparent-none {
    display:none
}
div.jqcloud {
    font-size:.8rem!important
}
.friends-container {
    max-width:1300px
}
footer {
    padding-bottom:20px
}
.carousel .indicators {
    padding-bottom:10px!important
}
footer .copy-right img {
    width:16px
}
.chip-container .tag-chips {
    max-width:1150px
}
.archive-calendar {
    max-width:1020px
}
#cd-timeline {
    max-width:960px
}
#post-calendar {
    height:260px
}
#artDetail .reprint {
    margin:15px 0 20px 0
}
@media only screen and (min-width:993px) {
    #articleContent img {
        zoom:90%;
        max-width:100%
    }
    .index-cover {
        max-height:70vh
    }
    .index-card {
        margin-top:-50px
    }
    #toc-content ol li {
        line-height:35px
    }
    #toc-content .is-active-link::before {
        margin-top:5px;
        margin-left:20px
    }
    .toc-widget .toc-title {
        margin-bottom:20px!important
    }
}
@media only screen and (min-width:600px) and (max-width:992px) {
    .container {
        width:90%
    }
    #articleContent img {
        zoom:90%;
        max-width:90%
    }
}
@media only screen and (max-width:812px) {
    .nav-none {
        display:none
    }
    .cover-btns {
        top:5vh
    }
    .cover-social-link {
        top:10vh
    }
    .carousel-control {
        display:none
    }
    .index-cover {
        min-height:650px
    }
    #articleContent img {
        zoom:90%;
        max-width:90%;
        min-width:60%
    }
    .bg-cover .title {
        font-size:2em
    }
    .bg-cover .post-title {
        font-size:2em
    }
}
.block-with-text:before {
    content:"";
    position:absolute;
    right:0;
    bottom:0
}
.nav-menu li .sub-nav {
    margin-left:-30px
}
.nav-menu li .sub-nav li {
    text-align:left;
    width:150px;
    height:50px;
    line-height:50px
}
.nav-menu li .sub-nav li a {
    height:50px;
    line-height:50px;
    width:148px;
    padding-left:20px
}
#articleContent table, td, th {
    margin:15px 0 15px 0
}
.admonition {
    margin:1.5625em 0;
    padding:.6rem;
    overflow:hidden;
    font-size:.64rem;
    page-break-inside:avoid;
    border-left:.3rem solid #42b983;
    border-radius:.3rem;
    box-shadow:0 .1rem .4rem rgba(0, 0, 0, .05), 0 0 .05rem rgba(0, 0, 0, .1);
    background-color:#fafafa
}
p.admonition-title {
    position:relative;
    margin:-.6rem -.6rem .8em -.6rem!important;
    padding:.4rem .6rem .4rem 2.5rem;
    font-weight:700;
    background-color:rgba(66, 185, 131, .1)
}
.admonition-title::before {
    position:absolute;
    top:.9rem;
    left:1rem;
    width:12px;
    height:12px;
    background-color:#42b983;
    border-radius:50%;
    content:' '
}
.info>.admonition-title, .todo>.admonition-title {
    background-color:rgba(0, 184, 212, .1)
}
.attention>.admonition-title, .caution>.admonition-title, .warning>.admonition-title {
    background-color:rgba(255, 145, 0, .1)
}
.error>.admonition-title, .fail>.admonition-title, .failure>.admonition-title, .missing>.admonition-title {
    background-color:rgba(255, 82, 82, .1)
}
.admonition.info, .admonition.todo {
    border-color:#00b8d4
}
.admonition.attention, .admonition.caution, .admonition.warning {
    border-color:#ff9100
}
.admonition.error, .admonition.fail, .admonition.failure, .admonition.missing {
    border-color:#ff5252
}
.info>.admonition-title::before, .todo>.admonition-title::before {
    background-color:#00b8d4;
    border-radius:50%
}
.attention>.admonition-title::before, .caution>.admonition-title::before, .warning>.admonition-title::before {
    background-color:#ff9100;
    border-radius:50%
}
.error>.admonition-title::before, .fail>.admonition-title::before, .failure>.admonition-title::before, .missing>.admonition-title::before {
    background-color:#ff5252;
    border-radius:50%
}
.admonition>:last-child {
    margin-bottom:0!important
}
a#download {
    display:inline-block;
    padding:0 10px;
    color:#000;
    background:0 0;
    border:2px solid #000;
    border-radius:2px;
    transition:all .5s ease;
    font-weight:700
}
span#inline-yellow {
    display:inline;
    padding:.2em .6em .3em;
    font-size:80%;
    font-weight:700;
    line-height:1;
    color:#fff;
    text-align:center;
    white-space:nowrap;
    vertical-align:baseline;
    border-radius:0;
    background-color:#f0ad4e
}
span#inline-green {
    display:inline;
    padding:.2em .6em .3em;
    font-size:80%;
    font-weight:700;
    line-height:1;
    color:#fff;
    text-align:center;
    white-space:nowrap;
    vertical-align:baseline;
    border-radius:0;
    background-color:#5cb85c
}
span#inline-blue {
    display:inline;
    padding:.2em .6em .3em;
    font-size:80%;
    font-weight:700;
    line-height:1;
    color:#fff;
    text-align:center;
    white-space:nowrap;
    vertical-align:baseline;
    border-radius:0;
    background-color:#2780e3
}
span#inline-purple {
    display:inline;
    padding:.2em .6em .3em;
    font-size:80%;
    font-weight:700;
    line-height:1;
    color:#fff;
    text-align:center;
    white-space:nowrap;
    vertical-align:baseline;
    border-radius:0;
    background-color:#9954bb
}
p#div-border-left-red {
    display:block;
    padding:10px;
    margin:10px 0;
    border:1px solid #ccc;
    border-left-width:5px;
    border-radius:3px;
    border-left-color:#df3e3e
}
p#div-border-left-yellow {
    display:block;
    padding:10px;
    margin:10px 0;
    border:1px solid #ccc;
    border-left-width:5px;
    border-radius:3px;
    border-left-color:#f0ad4e
}
p#div-border-left-green {
    display:block;
    padding:10px;
    margin:10px 0;
    border:1px solid #ccc;
    border-left-width:5px;
    border-radius:3px;
    border-left-color:#5cb85c
}
p#div-border-left-blue {
    display:block;
    padding:10px;
    margin:10px 0;
    border:1px solid #ccc;
    border-left-width:5px;
    border-radius:3px;
    border-left-color:#2780e3
}
p#div-border-left-purple {
    display:block;
    padding:10px;
    margin:10px 0;
    border:1px solid #ccc;
    border-left-width:5px;
    border-radius:3px;
    border-left-color:#9954bb
}
p#div-border-right-red {
    display:block;
    padding:10px;
    margin:10px 0;
    border:1px solid #ccc;
    border-right-width:5px;
    border-radius:3px;
    border-right-color:#df3e3e
}
p#div-border-right-yellow {
    display:block;
    padding:10px;
    margin:10px 0;
    border:1px solid #ccc;
    border-right-width:5px;
    border-radius:3px;
    border-right-color:#f0ad4e
}
p#div-border-right-green {
    display:block;
    padding:10px;
    margin:10px 0;
    border:1px solid #ccc;
    border-right-width:5px;
    border-radius:3px;
    border-right-color:#5cb85c
}
p#div-border-right-blue {
    display:block;
    padding:10px;
    margin:10px 0;
    border:1px solid #ccc;
    border-right-width:5px;
    border-radius:3px;
    border-right-color:#2780e3
}
p#div-border-right-purple {
    display:block;
    padding:10px;
    margin:10px 0;
    border:1px solid #ccc;
    border-right-width:5px;
    border-radius:3px;
    border-right-color:#9954bb
}
p#div-border-top-red {
    display:block;
    padding:10px;
    margin:10px 0;
    border:1px solid #ccc;
    border-top-width:5px;
    border-radius:3px;
    border-top-color:#df3e3e
}
p#div-border-top-yellow {
    display:block;
    padding:10px;
    margin:10px 0;
    border:1px solid #ccc;
    border-top-width:5px;
    border-radius:3px;
    border-top-color:#f0ad4e
}
p#div-border-top-green {
    display:block;
    padding:10px;
    margin:10px 0;
    border:1px solid #ccc;
    border-top-width:5px;
    border-radius:3px;
    border-top-color:#5cb85c
}
p#div-border-top-blue {
    display:block;
    padding:10px;
    margin:10px 0;
    border:1px solid #ccc;
    border-top-width:5px;
    border-radius:3px;
    border-top-color:#2780e3
}
p#div-border-top-purple {
    display:block;
    padding:10px;
    margin:10px 0;
    border:1px solid #ccc;
    border-top-width:5px;
    border-radius:3px;
    border-top-color:#9954bb
}
[type=checkbox], [type=radio] {
    box-sizing:border-box;
    padding:0
}
button, input {
    overflow:visible
}
button, input, optgroup, select, textarea {
    font-family:inherit;
    font-size:100%;
    line-height:1.15;
    margin:0
}
.line-numbers .line-numbers-rows {
    border-right:1px solid #607d8b42!important
}
blockquote {
    border-left:5px solid #89a3b6ab;
    background-color:#f4f4f4
}
.img-shadow {
    box-shadow:0 3px 10px 0 rgba(0, 0, 0, .07), 0 5px 10px -5px rgba(0, 0, 0, .3)
}
pre::-webkit-scrollbar {
    width:.3rem;
    height:.6rem;
    overflow:hidden
}
pre:hover::-webkit-scrollbar-thumb {
    background-color:#607d8b57;
    overflow:auto
}
.progress-bar {
    top:0;
    bottom:unset;
    height:2px;
    background:linear-gradient(to right, #2eab9f 0, violet 100%)
}
.admonition code[class*=language-], .admonition pre[class*=language-] {
    background:#f4f4f4!important
}
#articleContent blockquote p {
    text-indent:0
}

/* 滚动条 */
::-webkit-scrollbar-thumb {
    background-color:#ff2a68;
    background-image:-webkit-linear-gradient(45deg, rgba(255, 255, 255, .4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, .4) 75%, transparent 75%, transparent);
    border-radius:3em
}
::-webkit-scrollbar-track {
    background-color:#ffcacaff;
    border-radius:3em
}
::-webkit-scrollbar {
    width:10px;
    height:15px
}

#articleContent .img-item {
    text-align:center;
    display:inline-block
}
audio, canvas, progress, video {
    display:inline-block
}
audio:not([controls]) {
    display:none;
    height:0
}
.article-entry video {
    max-width:100%
}
#busuanzi_container_site_pv, #busuanzi_container_site_uv, #busuanzi_value_site_pv {
    display:inline-block!important
}
