#reward {
    margin: 40px 0;
    text-align: center;
}

#reward .reward-link {
    font-size: 1.4rem;
    line-height: 38px;
    color: var(--navbar-text-color);
}

#reward .btn-floating:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2), 0 5px 15px rgba(0, 0, 0, 0.2);
}

#rewardModal {
    width: 320px;
    height: 365px;
    background-color: var(--card-bg-color);
}

#rewardModal .reward-title {
    margin: 10px auto;
    padding-bottom: 5px;
    font-weight: bolder;
    font-size: x-large;
    color: var(--post-text-color);
}

#rewardModal .modal-content {
    padding: 10px;
}

#rewardModal .close {
    position: absolute;
    right: 10px;
    top: 10px;
    color: var(--post-text-color);
    font-size: 1.3rem;
    line-height: 20px;
    cursor: pointer;
}

#rewardModal .close:hover {
    color: var(--link-red-hover-color);
    transform: scale(1.3);
    -moz-transform:scale(1.3);
    -webkit-transform:scale(1.3);
    -o-transform:scale(1.3);
}

#rewardModal .reward-tabs {
    margin: 0 auto;
    width: 210px;
    border: 0;
}

.reward-tabs .tabs {
    height: 45px;
    margin: 0px auto;
    padding: 0;
    border: 0;
    border-radius: 0;
    padding-top: 0px !important;
}

.reward-content ul {
    padding-left: 0 !important;
}

.reward-tabs .tabs .tab {
    height: 38px;
    line-height: 35px;
    margin: 0px;
}

.reward-tabs .reward-img {
    width: 205px;
    height: 205px;
    margin: -10px -20px;
}
/* 使用jquery ui */
/* .reward-tabs .tabs li {
  margin: 0px;
}

.reward-tabs li {
  color: #fff;
  background-color: #ccc !important;
  border-radius: 0%;
}

.reward-tabs li.wechat-tab.ui-tabs-active {
  color: #fff !important;
  background-color: #22AB38 !important;
}

.reward-tabs  li.alipay-tab.ui-tabs-active {
  color: #fff !important;
  background-color: #019FE8 !important;
} */
/* 使用jquery */
.reward-tabs .tab a {
  color: var(--navbar-text-color);
  background-color: var(--text-shadow-color);
}

.reward-tabs .wechat-tab a:hover {
  background-color: var(--text-shadow-color);
  color: #22AB38;
}

.reward-tabs .alipay-tab a:hover {
  background-color: var(--text-shadow-color);
  color: #019FE8;
}

.reward-tabs .wechat-tab .active {
  color: var(--navbar-text-color) !important;
  background-color: #22AB38 !important;
}

.reward-tabs .alipay-tab .active {
  color: var(--navbar-text-color) !important;
  background-color: #019FE8 !important;
}
